

:root {
    --light-shadow: inset -1px -1px 5px rgba(250, 248, 248, 0.6);
    --dark-shadow:  3px 3px 5px #E3DCDC;
 
    --line-light: -2px -1px 4px rgba(250, 248, 248, 0.6);
    --line-dark: 2px 1px 4px rgba(187, 169, 169, 0.9);
 
    --background-recommendation: linear-gradient(#62398c, #53287d);
    --border-radius-recommendation: 25px 0px 25px 00px;
 
    --standard-max-size: 2rem;
    --standard-main-size: 1rem;
 
    --main-color-purple: #421f64;
    --main-color-purple-half-oppacity: rgba(66,31,100,.5);
    --destaque-color-bege:#e6ded9;
  }




@media screen and (min-width: 572px) {
  body,html{
    height: 100%;
   
  }
  html{
    
  }
    .artists-round-grid-mobile {
      width: 100%;
      column-gap: 2rem;
      display: grid;
      grid-template-columns: 300px auto auto;
      grid-template-rows: 15rem 45rem 13rem;
 
     
    }


 
    .welcome-back-playlist {


      display: none;
    }
 
    .welcome-back-playlist h1:first-child{
      grid-row: 1/4;
      grid-column: 1/5;
      margin: 0;
      font-size: 2rem;
    }
 
    .artist-round-title {
      align-self: flex-end;
      grid-column: 2/4;
      grid-row: 1;
    }


    .quick-tag-search {
      opacity: .5;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 8rem;
      padding-right: 4rem;
      grid-area: 1 / 1 / 3 / 1;
      border-radius: 20px 0px 20px 0px;
      border: 3px solid var(--main-color-purple);
      height: 89vh;
      background: var(--destaque-color-bege);
      box-shadow: var(--dark-shadow);
     
    }
 
    .quick-tag-search ul {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto;
 
      width: 100%;
      text-align: center;
      padding: 0;
      gap: .6rem;
      flex-grow: 2;
      margin-left: 2rem;
    }
    .quick-tag-search h4 {
      margin: 3rem 0 0 2rem;
      color: var(--main-color-purple);
      font-weight: 500;
      flex-grow: 1;
     
    }
 
    li {
        cursor: pointer;
      background:  var(--main-color-purple);
      color: white;
      border-radius: 20px;
      list-style: none;
      width: 100%;
      height: 50%;
    }
 
    li p{
      margin: auto;
    }
    .quick-tag-search ul:last-child li {
        background: none;
        color: var(--main-color-purple);
        border: 4px solid var(--main-color-purple);
    }
     
    .pc-round{
      display: inherit;
    }




    .round-flexbox {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1rem;
      grid-column: 2/2;
      height: 90%;
    }
 
    .round {
      width: 15vw;
      height: 25vh;
      border-radius: 20px 0 20px 0px;
      box-shadow: var(--dark-shadow);
    }


    .round img{
        opacity: 20%;
        transform: scale(1.4);
        object-fit: cover;
         
        }
 
    .automatic-new-playlist {
     grid-row: 3;
     grid-column: 2 / 2;
     width: 100%;
    background: rgba(218,195,192,.3);
    border-radius: 0px 20px 0px 20px;
    }
 
    .automatic-new-playlist > .card-playlist:first-child {
      height: 100%;
      margin:auto;
      background: none;
      gap: 1rem;


    }


    .card-playlist:nth-child(2), .card-playlist:nth-child(3){
      display: none;
    }




    .card-playlist p {
        text-align: justify;
        width: 40%;
    }
 
 
 
    .icon-playlist {
     grid-area: 1 / 1 / 4 / 2;


     width: 100%;
     height: 18vh;
    }
 
    .icon-playlist svg
    {
      margin: 1rem 0;
      height: 80%;
      align-content: center;
   
    }
    .information-playlist {
      width: 100%;
      height: 100%;
      grid-area: 1 / 2 / 4 / 5;
     
      gap: .5rem;
      flex-grow: 2;
    }


    .main-recoomendation {
      display: flex;
      flex-grow: 2;
      width: 100%;
      height: 100%;
      justify-self: flex-start;
      align-items: flex-end;
 
      background: rgba(66, 31, 100, 1);
     
      height: 50vh;
      width: 95%;
      grid-area: 5/1 / 4/ 5;
    }


    .main-recoomendation img{
        height: 40vh;
        width: 100%;
        border-radius: var(--border-radius-recommendation);
        opacity: .5;
    }


    .main-recoomendation h1 {
        position: absolute;
      margin: 4rem;
    }
 
    .half-recommendation {
 
     grid-area: 5 / 1 / 5 / 5;
 
     width: 95%;


     
    }
   
    .half-recommendation h1
    {
      margin: 4rem;
    }
 
    .tags {
       gap: 0.5rem;
       width: 20vw;
       grid-area: 1 / 1 / 4 / 4;
     
    }


    .option-1{
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
      height: 22vh;
      width: 45%;
     
    }
    .option-1 img{
        height: 22vh;
        width: 100%;
        opacity: .5;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
 
    .tag {
      width: 34vw;
      border-radius: 20px;
    }
 


    .description-playlist {
       
        margin-right: 0;
      }


  }
